descriptive statistics for numeric columns

In [ ]:
data.describe()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

Display the column names of the DataFrame.

In [ ]:
data.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

unique values in the 'workclass' column.

In [ ]:
data['workclass'].unique()

array(['Private', 'Local-gov', '?', 'Self-emp-not-inc', 'Federal-gov',
       'State-gov', 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)

Create a new column 'income_binary' where <=50K is 0 and >50K is 1.

In [ ]:
data['income_binary'] = data['income'].apply(lambda x: 0 if x == '<=50K' else 1)

Create a new column 'age_group' categorizing ages into 'Youth' (< 30), 'Adult' (30-60), and 'Senior' (60+).

In [ ]:
def cataegorize_age(age):
  if age <30:
    return 'youth'
  elif 30<=age<-60:
    return 'Adult'
  else:
      return 'senior'
      data['age_group'] = data['age'].apply(catagorize_age)

Rename the 'educational-num' column to 'education_num'.

In [ ]:
data=data.rename(columns={'educational-num': 'education num'})

Replace the missing values represented by '?' in 'workclass' and 'occupation' columns with 'Unknown'.

In [ ]:
data=data.rename(columns={'workclass':'?'})

Find the total capital-gain for each gender.

In [ ]:
data.groupby('gender')[['capital-gain']].sum()

        capital-gain
gender
Female       9403120
Male        43300701

Get the count of each marital-status category.

In [ ]:
material_status_counts = data['marital-status'].value_counts()

print(material_status_counts)

marital-status
Married-civ-spouse       22379
Never-married            16117
Divorced                  6633
Separated                 1530
Widowed                   1518
Married-spouse-absent      628
Married-AF-spouse           37
Name: count, dtype: int64

Find the mean hours-per-week worked by individuals in different education levels.

In [ ]:
mean_hours_by_education = data.groupby('education')['hours-per-week'].mean()

print(mean_hours_by_education)

education
10th            36.986321
11th            33.952539
12th            35.374429
1st-4th         38.761134
5th-6th         38.923379
7th-8th         39.003141
9th             38.359788
Assoc-acdm      40.809494
Assoc-voc       41.658418
Bachelors       42.482492
Doctorate       46.582492
HS-grad         40.640775
Masters         43.575837
Preschool       36.566265
Prof-school     47.579137
Some-college    38.865784
Name: hours-per-week, dtype: float64

Calculate the mean, median, and standard deviation of 'fnlwgt' for each race.

In [ ]:
fnlwgt_stats_by_race = data.groupby('race')['fnlwgt'].agg(['mean', 'median', 'std'])

print(fnlwgt_stats_by_race)

                             mean    median            std
race
Amer-Indian-Eskimo  120110.985106  101579.0   94655.908850
Asian-Pac-Islander  159796.946675  139850.0   86997.647681
Black               230485.070438  208266.0  125445.929357
Other               195715.689655  188066.5   94063.712981
White               186894.995738  177287.0  102637.466726

Get the unique values and their counts for the 'native-country' column

In [ ]:
native_country_counts = data['native-country'].value_counts()

print(native_country_counts)

native-country
United-States                 43832
Mexico                          951
?                               857
Philippines                     295
Germany                         206
Puerto-Rico                     184
Canada                          182
El-Salvador                     155
India                           151
Cuba                            138
England                         127
China                           122
South                           115
Jamaica                         106
Italy                           105
Dominican-Republic              103
Japan                            92
Guatemala                        88
Poland                           87
Vietnam                          86
Columbia                         85
Haiti                            75
Portugal                         67
Taiwan                           65
Iran                             59
Greece                           49
Nicaragua                        49
Peru                             46
Ecuador                          45
France                           38
Ireland                          37
Hong                             30
Thailand                         30
Cambodia                         28
Trinadad&Tobago                  27
Laos                             23
Yugoslavia                       23
Outlying-US(Guam-USVI-etc)       23
Scotland                         21
Honduras                         20
Hungary                          19
Holand-Netherlands                1
Name: count, dtype: int64

Filter the dataset to include only individuals with income >50K.

In [ ]:
high_income_individuals = data[data['income'] == '>50K']

print(high_income_individuals)

       age                 ?  fnlwgt     education  education num  \
2       28         Local-gov  336951    Assoc-acdm             12
3       44           Private  160323  Some-college             10
7       63  Self-emp-not-inc  104626   Prof-school             15
10      65           Private  184454       HS-grad              9
14      48           Private  279724       HS-grad              9
...    ...               ...     ...           ...            ...
48820   71                 ?  287372     Doctorate             16
48826   39         Local-gov  111499    Assoc-acdm             12
48835   53           Private  321865       Masters             14
48838   40           Private  154374       HS-grad              9
48841   52      Self-emp-inc  287927       HS-grad              9

           marital-status         occupation relationship   race  gender  \
2      Married-civ-spouse    Protective-serv      Husband  White    Male
3      Married-civ-spouse  Machine-op-inspct      Husband  Black    Male
7      Married-civ-spouse     Prof-specialty      Husband  White    Male
10     Married-civ-spouse  Machine-op-inspct      Husband  White    Male
14     Married-civ-spouse  Machine-op-inspct      Husband  White    Male
...                   ...                ...          ...    ...     ...
48820  Married-civ-spouse                  ?      Husband  White    Male
48826  Married-civ-spouse       Adm-clerical         Wife  White  Female
48835  Married-civ-spouse    Exec-managerial      Husband  White    Male
48838  Married-civ-spouse  Machine-op-inspct      Husband  White    Male
48841  Married-civ-spouse    Exec-managerial         Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country income  \
2                 0             0              40  United-States   >50K
3              7688             0              40  United-States   >50K
7              3103             0              32  United-States   >50K
10             6418             0              40  United-States   >50K
14             3103             0              48  United-States   >50K
...             ...           ...             ...            ...    ...
48820             0             0              10  United-States   >50K
48826             0             0              20  United-States   >50K
48835             0             0              40  United-States   >50K
48838             0             0              40  United-States   >50K
48841         15024             0              40  United-States   >50K

       income_binary
2                  1
3                  1
7                  1
10                 1
14                 1
...              ...
48820              1
48826              1
48835              1
48838              1
48841              1

[11687 rows x 16 columns]

Sort the dataset by age in descending order.

In [ ]:
data_sorted_by_age = data.sort_values(by='age', ascending=False)

print(data_sorted_by_age)

       age          ?  fnlwgt education  education num      marital-status  \
40519   90          ?  166343   1st-4th              2             Widowed
21553   90    Private  141758       9th              5       Never-married
47977   90          ?  313986   HS-grad              9  Married-civ-spouse
21651   90  Local-gov  227796   Masters             14  Married-civ-spouse
41584   90          ?  175444   7th-8th              4           Separated
...    ...        ...     ...       ...            ...                 ...
39614   17          ?   48751      11th              7       Never-married
23072   17    Private  110723      11th              7       Never-married
33275   17    Private  142457      11th              7       Never-married
31429   17    Private   34019      11th              7       Never-married
20904   17    Private  181580      11th              7       Never-married

            occupation   relationship   race  gender  capital-gain  \
40519                ?  Not-in-family  Black  Female             0
21553     Adm-clerical  Not-in-family  White  Female             0
47977                ?        Husband  White    Male             0
21651  Exec-managerial        Husband  White    Male         20051
41584                ?  Not-in-family  White  Female             0
...                ...            ...    ...     ...           ...
39614                ?      Own-child  Black  Female             0
23072            Sales      Own-child  White  Female             0
33275    Other-service      Own-child  Black    Male             0
31429    Other-service      Own-child  White    Male             0
20904    Other-service      Own-child  White  Female             0

       capital-loss  hours-per-week native-country income  income_binary
40519             0              40  United-States  <=50K              0
21553             0              40  United-States  <=50K              0
47977             0              40  United-States   >50K              1
21651             0              60  United-States   >50K              1
41584             0              15  United-States  <=50K              0
...             ...             ...            ...    ...            ...
39614             0              40  United-States  <=50K              0
23072             0              25  United-States  <=50K              0
33275             0              20  United-States  <=50K              0
31429             0              20  United-States  <=50K              0
20904             0              16  United-States  <=50K              0

[48842 rows x 16 columns]

Filter the dataset to include only individuals who work more than 40 hours per week.

In [ ]:
overtime_workers = data[data['hours-per-week'] > 40]

print(overtime_workers)

       age                 ?  fnlwgt     education  education num  \
1       38           Private   89814       HS-grad              9
14      48           Private  279724       HS-grad              9
15      43           Private  346189       Masters             14
19      40           Private   85019     Doctorate             16
20      34           Private  107914     Bachelors             13
...    ...               ...     ...           ...            ...
48819   38           Private  139180     Bachelors             13
48824   45         Local-gov  119199    Assoc-acdm             12
48829   65  Self-emp-not-inc   99359   Prof-school             15
48831   43  Self-emp-not-inc   27242  Some-college             10
48833   43           Private   84661     Assoc-voc             11

           marital-status         occupation   relationship  \
1      Married-civ-spouse    Farming-fishing        Husband
14     Married-civ-spouse  Machine-op-inspct        Husband
15     Married-civ-spouse    Exec-managerial        Husband
19     Married-civ-spouse     Prof-specialty        Husband
20     Married-civ-spouse       Tech-support        Husband
...                   ...                ...            ...
48819            Divorced     Prof-specialty      Unmarried
48824            Divorced     Prof-specialty      Unmarried
48829       Never-married     Prof-specialty  Not-in-family
48831  Married-civ-spouse       Craft-repair        Husband
48833  Married-civ-spouse              Sales        Husband

                     race  gender  capital-gain  capital-loss  hours-per-week  \
1                   White    Male             0             0              50
14                  White    Male          3103             0              48
15                  White    Male             0             0              50
19     Asian-Pac-Islander    Male             0             0              45
20                  White    Male             0             0              47
...                   ...     ...           ...           ...             ...
48819               Black  Female         15020             0              45
48824               White  Female             0             0              48
48829               White    Male          1086             0              60
48831               White    Male             0             0              50
48833               White    Male             0             0              45

      native-country income  income_binary
1      United-States  <=50K              0
14     United-States   >50K              1
15     United-States   >50K              1
19                 ?   >50K              1
20     United-States   >50K              1
...              ...    ...            ...
48819  United-States   >50K              1
48824  United-States  <=50K              0
48829  United-States  <=50K              0
48831  United-States  <=50K              0
48833  United-States  <=50K              0

[14352 rows x 16 columns]

In [ ]:
overtime_workers = data[data['hours-per-week'] > 40]

print(overtime_workers)

       age                 ?  fnlwgt     education  education num  \
1       38           Private   89814       HS-grad              9
14      48           Private  279724       HS-grad              9
15      43           Private  346189       Masters             14
19      40           Private   85019     Doctorate             16
20      34           Private  107914     Bachelors             13
...    ...               ...     ...           ...            ...
48819   38           Private  139180     Bachelors             13
48824   45         Local-gov  119199    Assoc-acdm             12
48829   65  Self-emp-not-inc   99359   Prof-school             15
48831   43  Self-emp-not-inc   27242  Some-college             10
48833   43           Private   84661     Assoc-voc             11

           marital-status         occupation   relationship  \
1      Married-civ-spouse    Farming-fishing        Husband
14     Married-civ-spouse  Machine-op-inspct        Husband
15     Married-civ-spouse    Exec-managerial        Husband
19     Married-civ-spouse     Prof-specialty        Husband
20     Married-civ-spouse       Tech-support        Husband
...                   ...                ...            ...
48819            Divorced     Prof-specialty      Unmarried
48824            Divorced     Prof-specialty      Unmarried
48829       Never-married     Prof-specialty  Not-in-family
48831  Married-civ-spouse       Craft-repair        Husband
48833  Married-civ-spouse              Sales        Husband

                     race  gender  capital-gain  capital-loss  hours-per-week  \
1                   White    Male             0             0              50
14                  White    Male          3103             0              48
15                  White    Male             0             0              50
19     Asian-Pac-Islander    Male             0             0              45
20                  White    Male             0             0              47
...                   ...     ...           ...           ...             ...
48819               Black  Female         15020             0              45
48824               White  Female             0             0              48
48829               White    Male          1086             0              60
48831               White    Male             0             0              50
48833               White    Male             0             0              45

      native-country income  income_binary
1      United-States  <=50K              0
14     United-States   >50K              1
15     United-States   >50K              1
19                 ?   >50K              1
20     United-States   >50K              1
...              ...    ...            ...
48819  United-States   >50K              1
48824  United-States  <=50K              0
48829  United-States  <=50K              0
48831  United-States  <=50K              0
48833  United-States  <=50K              0

[14352 rows x 16 columns]

Calculate the median income by education level and gender.

In [ ]:
data['income'] = data['income'].replace({'<=50K': 0, '>50K': 1}) # Example replacement, adjust as needed

median_income_by_education = data.groupby('education')['income'].median()

print(median_income_by_education)

education
10th            0.0
11th            0.0
12th            0.0
1st-4th         0.0
5th-6th         0.0
7th-8th         0.0
9th             0.0
Assoc-acdm      0.0
Assoc-voc       0.0
Bachelors       0.0
Doctorate       1.0
HS-grad         0.0
Masters         1.0
Preschool       0.0
Prof-school     1.0
Some-college    0.0
Name: income, dtype: float64

Filter the dataset to include individuals who are 'Married-civ-spouse' and have an income >50K.

Find the top 3 occupations with the highest average capital-gain.

In [ ]:

data = pd.read_csv("/content/drive/MyDrive/adult.csv")

average_capital_gain_by_occupation = data.groupby('occupation')['capital-gain'].mean()
top_3_occupations = average_capital_gain_by_occupation.sort_values(ascending=False).head(3)

print(top_3_occupations)

occupation
Prof-specialty     2745.918017
Exec-managerial    2277.755504
Sales              1266.898256
Name: capital-gain, dtype: float64